[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
pglast = "*"
inflection = "*"
networkx = "*"
plotly = "*"

[dev-packages]
black = "==19.10b0"
flake8 = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"
wheel = "*"
pipenv-setup = "*"

[dev-packages.e1839a8]
path = "."
editable = true
