[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
pglast = "==1.18"
inflection = "*"
networkx = "*"
click = "*"
PyYAML = "*"
dbcat = ">=0.5.1"
gunicorn = "*"
flask = "~=1.1"
flask-restless-ng = "*"
requests = "*"
furl = "*"

[dev-packages]
black = "==19.10b0"
flake8 = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"
wheel = "*"
pipenv-setup = "*"
mypy = "*"
jupyter = "*"
e1839a8 = {path = ".", editable = true}
pytest-flask = "*"
